    <input
    class="form-control" 
    type="text"
    name="nome"
    id="nome"
    ng-Model="vm.contato.nome"
    placeholder="nome" required minlength="10">
    <input 
    class="form-control"
    type="text"
    name="telefone"                  
    id="telefone"
    ng-model="vm.contato.telefone"
    placeholder="telefone"
    ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" >
    <input  class="form-control" type="text" name="data" id="data" ng-model="vm.contato.data" placeholder="Data"  ui-date/>